.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition-property: background;
    transition-duration: 800ms;
    height: 60px;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1d519a, #000428);
    background: linear-gradient(to right, #1d519a, #000428);
    backdrop-filter: blur(9px);
}

.navbar.fixed{
    position: fixed;
    box-shadow: -3px 7px 15px 0px #0d0d0d0f;
    /* background: -webkit-linear-gradient(to right, #ffffffc2, #ffffffc2);
    background: linear-gradient(to right, #ffffffc2, #ffffffc2); */
    background: #ffffff;
}
.navbar.fixed .title *,  .navbar.fixed .sections ul li a{
    color: #002970;
}

.navbar-nav .dropdown-menu{
    border: 1px solid #fff;
}

 .navbar.fixed .sections ul li a:hover{
    color: #040f38;
    opacity: .9;
}

nav .title *{
    font-weight: 600;
    /* color: #fff; */
}
.sections{
    display: flex;
    align-items: center;
}
.sections ul{
    margin-bottom: 0;
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sections ul li:not(:last-child){
    margin-right: 10px;
}
.sections ul li .dropdown-menu a{
    text-decoration: none;
    color: #002970;
    font-weight: 600;
    font-size: 14px;
}
.sections .nav-link, .title h3{
    color: #fff;
    font-weight: 600;
}
.sections ul li a:hover{
    color: #92f8ff;
}

.navbar-nav .dropdown-menu{
    position: absolute!important;
}

@media (min-width: 768px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }