
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* @import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css') ; */

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/Inter.ttf);
}

:root{
    /* SIDEBAR CONFIG. */
    --speed-sidebar : .6s;
    --dark-color-sidebar: #000;
    --light-color-sidebar:  #6c6c6c27;
    --color-font-sidebar: #fff;
    --color-icons-sidebar: #7cffe1;
}

html,body{
    /* overflow-x: hidden; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif; 
   /*  font-family: 'Poppins', sans-serif; */
    font-weight: 400;
}

.main-content{
    margin-top: 60px;
}

ul{
    list-style: none;
    padding-left: 0;
}
li{
    list-style: none;
}

#sidebar #vector-image{
    /* background-image: url(assets/img/vectors/vector-1.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: .2;
}

.row{
  /*   margin: auto; */
    max-width: 100%;
}

.main-content-admin.full-width{
    padding-left: 0!important;
}
  

.container-list-sidebar::-webkit-scrollbar {
    width: 10px;
    z-index: 10;
  }
  
  /* Track */
  .container-list-sidebar::-webkit-scrollbar-track {
    background: transparent!important;
  }

  .container-list-sidebar::-webkit-scrollbar-thumb {
    background: var(--color-font-sidebar)!important;
    backdrop-filter: gray;
  }
  

